body {
  margin: 100px;
  text-align: center;
}
h5 {
  padding: 30px;
}
.imm {
  width: 850px;
  height: 500px;
}
#minimap {
  position: absolute;
  width: 200px;
  height: 200px;
  right: 150px;
  bottom: -45px;
}
